<app-root-layout>
  <div class="screen__wrapper">
    <div class="question-block">
      <p class="question-block__title">
        Question {{ curentQuestion + 1 }}/{{ quizzes.length }}
      </p>
      <p class="question-block__content">
        {{ quizzes.at(curentQuestion)?.question | decodeHtml }}
      </p>
    </div>
    <div class="option-list">
      <mat-radio-group
        [(ngModel)]="curentAnswer"
        (ngModelChange)="onAnswerChange($event)"
      >
        <mat-card
          class="option-item correct"
          [ngClass]="{
            correct: curentAnswer && isCorrectAnswer(answer)
          }"
          *ngFor="let answer of quizzes.at(curentQuestion)?.answers"
        >
          <mat-radio-button
            [value]="answer"
            [disabled]="answersList.at(curentQuestion) ? true : false"
            >{{ answer | decodeHtml }}
          </mat-radio-button>
        </mat-card>
      </mat-radio-group>
      <div class="question-action">
        <button
          mat-raised-button
          style="width: 100%"
          (click)="onNext()"
          [disabled]="curentAnswer == null"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</app-root-layout>
